.account-form {
  margin: 50px auto;
  line-height: 1.5;
}

.account-form h1 {
  text-align: center;
  margin-top: 0px;
}

.account-form h1 strong {
  color: orange;
}

.account-form div label span {
  font-size: 20px;
  margin-left: 2px;
}

.account-form .account-form-field {
  display: flex;
  justify-content: start;
  margin: 10px 0px;
  align-items: center;
}

.account-form div label:first-child {
  text-align: start;
  margin-right: 10px;
  font-size: 18px;
}

.account-form div input[type='radio'] {
  margin-right: 5px;
}

.account-form .account-form-field .input-box label {
  margin-right: 10px;
}

.account-form .account-form-field .label-box {
  flex: 1;
}

.account-form .account-form-field .input-box {
  flex: 1.5;
}

.address {
  display: flex !important;
  flex-wrap: wrap;
}

.address label {
  flex: 1;
}

.address div {
  flex: 1.5;
}

.address input {
  margin: 5px;
  max-width: 175px;
}

.account-form button {
  margin-right: 20px;
}

/* .wd-7 {
  max-width: 600px;
} */

.wd-6 {
  max-width: 600px;
}

.wd-5 {
  max-width: 500px;
}
