.dashboard-section {
  margin-top: 200px !important;
}

.balance-container {
  background-color: #00a0e3;
  box-shadow: 0px 0px 6px #ccc;
  max-width: 700px;
  height: max-content;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top-right-radius: 50px;
}

.balance-container p {
  font-weight: bold;
  font-size: 20px;
  line-height: 0.8;
  color: white;
}

.balance {
  border: 5px solid #ffa64d;
  border-radius: 50%;
  max-width: max-content;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
}

.view-statement-btn {
  background-color: #ffa64d;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  height: max-content;
  font-weight: bold;
  font-size: 18px;
}

/* Change Password */

.change-password h4 {
  margin-top: 0px;
  color: gray;
}

.change-password input {
  width: 30%;
  margin-bottom: 10px;
}

.change-password button {
  margin-top: 10px;
}

.bill {
  background-color: #00a0e3;
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bill h3 {
  margin: -10px 0px;
  color: white;
}

.bill button {
  color: #ffa64d;
}

.bill button:hover {
  color: #ff9900;
  background-color: transparent;
}

.bill-detail {
  max-width: 500px;
}

.confirm-message {
  margin-bottom: 10px;
  padding: 10px;
}
