.form-container {
  max-width: 400px;
  margin: 150px auto;
}

.form-container h1 {
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
}

.form-container h1 strong {
  color: orange;
}

.form-container div input {
  width: 100%;
  margin-bottom: 10px;
}

.form-container button {
  font-size: 20px !important;
  border-radius: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.form-container div label {
  font-size: 18px;
}

.form-container .msg {
  margin: 0px;
}

.form-container form label {
  font-size: 18px;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.captcha input {
  margin-bottom: 0px !important;
}

@media screen and (max-width: 750px) {
  .form-container {
    margin: 120px 20px;
  }
}
