.home {
  background-image: url(../assets/bg.avif);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
}

.nav-header {
  justify-content: space-between;
  color: white;
  padding: 0px 10px;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  align-items: center;
  display: flex;
}

.nav-header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.links {
  max-width: 500px;
  margin: 300px auto;
  align-items: center;
}

.links h1,
p {
  color: white;
  font-weight: bold;
}

.links h1 {
  font-size: 60px;
}

.links p {
  margin-bottom: 50px;
}

.account-link {
  background-color: #00a0e3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.account-link:hover {
  background-color: #ffa64d;
}
