/* services.css */

.account-summary {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
}

h2 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0px;
}

.desc {
  max-width: 300px;
  word-break: keep-all;
}

.mt {
  margin-top: 160px !important;
}

.account-summary button {
  margin-right: 10px;
  margin-left: 10px;
}

.no-trans {
  color: black;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.statement-header {
  display: flex;
  justify-content: space-between;
}

.filters select,
.filters input {
  width: 30%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.filters select {
  font-weight: bold;
}

.pagination {
  text-align: center;
  max-width: max-content;
  margin: 10px auto;
  display: flex;
  align-items: center;
}

.pagination button {
  background-color: transparent;
  color: black;
}

.pagination span {
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .filters input,
  .filters select {
    width: 100%;
  }

  .statement-header {
    display: block;
    margin-bottom: 20px;
  }
}
