/* services.css */

.account-summary {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
}

h2 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders are collapsed */
  margin-top: 10px;
}

th,
td {
  padding: 12px; /* Adds padding to table cells */
  text-align: left; /* Aligns text to the left */
}

th {
  border-bottom: 2px solid #888;
}

.statement-table tr {
  border-bottom: 1px solid #888;
}

tbody tr:hover {
  background-color: rgba(20, 184, 238, 0.3);
  cursor: pointer;
}

.desc {
  max-width: 300px;
  word-break: keep-all;
}

.mt {
  margin-top: 160px !important;
}

.account-summary button {
  background-color: rgb(10, 180, 236);
  color: white;
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;
}

.no-trans {
  color: black;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.statement-header {
  display: flex;
  justify-content: space-between;
}

.filters select {
  width: 30%;
  margin-bottom: 10px;
  font-weight: bold;
}

.pagination {
  text-align: center;
  max-width: max-content;
  margin: 10px auto;
  display: flex;
  align-items: center;
}

.pagination button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.pagination span {
  margin-bottom: 0px;
}
